In [100]:
import pandas as pd
import numpy as np
import yfinance as yf

df = pd.read_csv("./data/sample_trades.csv")
print(df.head())

         date ticker action  quantity   price
0  2023-01-10   AAPL    buy        10  145.30
1  2023-02-15   TSLA    buy         5  196.75
2  2023-03-01   AAPL   sell         5  155.00
3  2023-04-22   MSFT    buy         8  280.20
4  2023-05-12   AAPL    buy         2  160.50

In [101]:


df["quantity"] = df.apply(
    lambda row: -row["quantity"] if row["action"] == "sell" else row["quantity"], axis=1
)

In [102]:
df =df.drop(columns=["action"])

In [103]:
df['signed_value'] = df["quantity"] * df["price"]
df.head()

         date ticker  quantity   price  signed_value
0  2023-01-10   AAPL        10  145.30       1453.00
1  2023-02-15   TSLA         5  196.75        983.75
2  2023-03-01   AAPL        -5  155.00       -775.00
3  2023-04-22   MSFT         8  280.20       2241.60
4  2023-05-12   AAPL         2  160.50        321.00

In [144]:
tickers = df["ticker"].unique().tolist()
holdings = pd.DataFrame({
    "Tickier" : df["ticker"],
    "Quantity" : df["quantity"],
    "Cost" : df["signed_value"]
}).groupby("Tickier").sum().reset_index()

holdings.head()

  Tickier  Quantity     Cost
0    AAPL         7   999.00
1    MSFT         8  2241.60
2    TSLA         5   983.75

In [145]:
data = yf.download(tickers,start="2023-01-01",end="2025-04-09")

[*********************100%***********************]  3 of 3 completed

In [118]:
data.tail()

Price            Close                                High              \
Ticker            AAPL        MSFT        TSLA        AAPL        MSFT
Date
2025-04-02  223.889999  382.140015  282.760010  225.190002  385.079987
2025-04-03  203.190002  373.109985  267.279999  207.490005  377.480011
2025-04-04  188.380005  359.839996  239.429993  199.880005  374.589996
2025-04-07  181.460007  357.859985  233.289993  194.149994  371.000000
2025-04-08  172.419998  354.559998  221.860001  190.339996  373.649994

Price                          Low                                Open  \
Ticker            TSLA        AAPL        MSFT        TSLA        AAPL
Date
2025-04-02  284.989990  221.020004  376.619995  251.270004  221.320007
2025-04-03  276.299988  201.250000  369.350006  261.510010  205.539993
2025-04-04  261.000000  187.339996  359.480011  236.000000  193.889999
2025-04-07  252.000000  174.619995  344.790009  214.250000  177.199997
2025-04-08  250.440002  169.210007  350.250000  217.800003  186.699997

Price                                  Volume
Ticker            MSFT        TSLA       AAPL      MSFT       TSLA
Date
2025-04-02  377.970001  254.600006   35905900  16092600  212787800
2025-04-03  374.790009  265.290009  103419000  30198000  136174300
2025-04-04  364.130005  255.380005  125910900  49209900  181229400
2025-04-07  350.880005  223.779999  160466300  50425000  183453800
2025-04-08  368.260010  245.000000  120363400  35808800  170068600

In [146]:
latest_prices = data["Close"].iloc[-1]
holdings["Current Price"] = holdings["Tickier"].map(latest_prices)

holdings.head()

  Tickier  Quantity     Cost  Current Price
0    AAPL         7   999.00     172.419998
1    MSFT         8  2241.60     354.559998
2    TSLA         5   983.75     221.860001

In [141]:
holdings = holdings.drop(columns=["Current Value"])

KeyError: "['Current Value'] not found in axis"

In [147]:
holdings["Current Value"] = holdings["Current Price"]*holdings["Quantity"]

In [148]:
holdings.head()

  Tickier  Quantity     Cost  Current Price  Current Value
0    AAPL         7   999.00     172.419998    1206.939987
1    MSFT         8  2241.60     354.559998    2836.479980
2    TSLA         5   983.75     221.860001    1109.300003

In [134]:
df.head()

         date ticker  quantity   price  signed_value
0  2023-01-10   AAPL        10  145.30       1453.00
1  2023-02-15   TSLA         5  196.75        983.75
2  2023-03-01   AAPL        -5  155.00       -775.00
3  2023-04-22   MSFT         8  280.20       2241.60
4  2023-05-12   AAPL         2  160.50        321.00

In [ ]:
holdings["Profit/Loss"] = holdings["Current Value"] - holdings["Cost"]

In [151]:
holdings.head()

  Tickier  Quantity     Cost  Current Price  Current Value  Profit/Loss
0    AAPL         7   999.00     172.419998    1206.939987   207.939987
1    MSFT         8  2241.60     354.559998    2836.479980   594.879980
2    TSLA         5   983.75     221.860001    1109.300003   125.550003